$accent-color: #28a745;
$accent-color-hover: #2ebf4f;
$secondary-color: #0284d0;
$button-color: #fff;
$nav-color: #fff;
$error-color: #eb5757;
$text-color: #333;
$appbar-bg-color: #333;
$footer-bg-color: #333;

$transition: cubic-bezier(0.4, 0, 0.2, 1);

$mobile: 320px;
$tablet: 768px;
$desktop: 1360px;
