@use '../../sass/mixins';
@import '../../sass/variables';

.section {
  background-color: $secondary-color;
}

.image {
  background-image: image-set(
    '../../assets/images/home/blog.webp' 1x,
    '../../assets/images/home/blog@2x.webp' 2x,
    '../../assets/images/home/blog.jpg' 1x,
    '../../assets/images/home/blog@2x.jpg' 2x
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (max-width: 767px) {
    height: 247px;
  }
}

.content {
  padding: 48px 20px 58px 20px;

  @media screen and (min-width: $tablet) {
    grid-row: 1;
    padding: 59px 32px;
  }

  @media screen and (min-width: $desktop) {
    padding: 80px 20px 80px 28px;
  }
}

.title,
.text {
  margin-bottom: 24px;
}

.title {
  @include mixins.font-style(32px, 1.38);

  @media screen and (min-width: $tablet) {
    @include mixins.font-style(40px, 1.2);
  }
}

.pretitle,
.text {
  @media screen and (min-width: $tablet) {
    @include mixins.font-style(18px, 1.39);
  }
}

.pretitle {
  margin-bottom: 16px;
}
