@use '../../sass/mixins';
@import '../../sass/variables';

.section {
  & img {
    height: 220px;
  }
}

.content {
  padding-top: 72px;
  padding-bottom: 50px;
  color: $text-color;
  text-align: center;

  @media screen and (min-width: $tablet) {
    padding-top: 50px;
    padding-bottom: 40px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 80px;
    padding-bottom: 88px;
  }
}

.pretitle {
  margin-bottom: 16px;

  @media screen and (min-width: $tablet) {
    @include mixins.font-style(20px, 1.65);
  }
}

.title {
  @include mixins.font-style(32px, 1.38);

  margin-bottom: 24px;

  @media screen and (min-width: $tablet) {
    @include mixins.font-style(40px, 1.2);
  }
}

.text {
  margin-bottom: 63px;

  @media screen and (min-width: $tablet) {
    @include mixins.font-style(18px, 1.39);
  }
}
